html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
  position: relative; /* Keeps your absolute positioning within the page */
  width: 100%; /* Ensures that the body takes full width */
  height: 100%; /* Ensures that the body takes full height */
}

/* class for the mint stripes */
.mint-stripes {
z-index: -1;
position: absolute;
bottom: 0;
left: 0;
width: 30%; 
height: 30%; 
background: repeating-linear-gradient(
  -45deg,
  var(--green),
  var(--green) 50px,
  transparent 50px,
  transparent 100px
);
}

/* class for the purple stripes */
.purple-stripes {
  z-index: -1;
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 35%; 
  height: 50%; 
  background: repeating-linear-gradient(
    45deg,
    var(--purple),
    var(--purple) 50px, /* Width of the colored stripe */
    transparent 50px, /* Width of the gap */
    transparent 100px /* Twice the width of the colored stripe for the full cycle */
  );
}

/* Style for the permanent text shown */ 
h1, h3 {
  margin-top: 30px;
  font-family: Courier New, monospace;
  margin-left: 180px;
  color:  #1e5166;
}

/* Styles for the language buttons */
.radio-buttons {
  display: flex;
}

.radio-buttons input[type="radio"] {
  display: none;
}

#button_container {
  margin-left: 180px;
}

.radio-buttons label {
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid #000000;
  margin-right: 10px;
  background-color: #f0f0f0;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: var(--green);
  color: #fff;
}

/* Styles for the "Check" button */
button[type="submit"], button.edit {
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid #ff7f43;
  background-color: #f0f0f0;
  margin-top: 10px; 
}

button[type="submit"]:hover, button.edit:hover {
  background-color: var(--orange);
}

.open-modal{
cursor: pointer;
padding: 2px 2px;
border: 2px solid var(--darkpurple);
background-color: var(--purple);
margin-top: 2px; 
margin-left: 5px;
}

/* Styles for the text box and highlighting */
*, *::before, *::after {
box-sizing: border-box;
} 

.container, .backdrop, textarea {
  height: 280px;
}

.highlights, textarea {
  padding: 20px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.container {
  display: block;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
  width: 100%;
}

.backdrop {
  position: absolute;
  z-index: 3;
  border: 2px solid transparent;
  background-color: transparent;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
  padding-left: 180px;
  padding-right: 180px;
  width: 100%;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: black;
  background-color: transparent;
  pointer-events: all;
}

textarea {
  display: block;
  position: absolute;
  z-index: 0;
  border: 2px solid black;
  border-radius: 0;
  background-color: white;
  overflow: auto;
  resize: none;
  transition: transform 1s;
  pointer-events: all;
  margin-left: 180px;
  margin-right: 180px;
  width: calc(100% - 360px);
}

mark {
  border-radius: 3px;
  color: black;
  background-color: var(--green);
}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  font-size: small;
  visibility: hidden;
  width: 360px;
  background-color: var(--orange);
  color: #2b2b2b;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -180px;
  padding-left: 20px;
  padding-right: 50px;
  overflow-x: visible;
}

.popup .popuptext ol {
  list-style-position: inside;
}

.popup .popuptext ol li {
  margin-bottom: 0.5px; /* Reduce the space between list items */
  padding: 0.5px 0; /* Adjust padding for top and bottom as needed */
}

/* Popup arrow */
.popup .popuptext::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--orange) transparent transparent transparent;
  transform: scale(1, -1);
}

.popuptext h3{
  margin:0;
  padding:0;
}

.popuptext h4{
  margin:0;
  padding:0;
}

.popuptext p{
  margin:0;
  padding:0;
}

:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --purple: #ceb9d2 ;
  --darkpurple: #bd8dd7;
  --orange: #ffc99e;
  --green: #9cdcb2;
  --red: #DB5646;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

* {
  padding: 0;
  margin: 0;
}


.modal { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
  font: 16px/20px 'Open Sans', sans-serif;
}

.alt-item-div {
  display: inline; 
  align-items: center; 
  gap: 10px;
}

.popup-inline {
  display: inline;
}

li::marker {
  display: inline-table;
}


.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--green);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .modal-close {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal button{
  background-color: var(--green);
  padding: 10px 20px;
  border: 2px solid #000000;
  margin-right: 10px;
  margin-top: 10px;
}

.modal fieldset{
  margin-top: 10px;
}
.modal button .modal-close{
  background-color: var(--orange);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal div {
  margin: 5px;
}

/* Style for main term links */
.term-link {
  color: #306141; /* Example: blue color for main term links */
  text-decoration: underline; /* Underline to signify it's clickable */
}

/* Style for alternative term links */
.alternative-term-link {
  color: #396d4b; /* Example: green color for alternative term links */
  text-decoration: none; /* No underline */
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}
