<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monolingual Text Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Monolingual Text Checker</h1>
  <h3>Check a text for sensitive terms</h3>

  <br>

  <form class="container" id="textform">
    <div class="container" id="container">
      <div class="backdrop" id="backdrop">
        <div class="highlights">
          {{- marked_html | safe -}}
        </div>
      </div>
      <textarea id="textarea" name="user_text" placeholder="Add a text you would like to check for sensitive terms">{{ user_text }}</textarea>
      
    </div>
    <br>
    <div id="button_container">
      <div class="radio-buttons">
        <input type="radio" id="auto" name="language" value="auto" checked> <!-- Default to auto-detect -->
        <label id="detect_label" for="auto">Auto Detect Language</label>
        <input type="radio" id="english" name="language" value="english">
        <label for="english">English</label>
        <input type="radio" id="german" name="language" value="german">
        <label for="german">German</label>
      </div>
      <br>
      <button type="submit">Check</button>
      <button type="button" class="edit" id="edit_text">Edit text</button>
    </div>
  </form>
  <div class="mint-stripes"></div>
  <div class="purple-stripes"></div>
  <div id="modal_container">

  </div>

</body>

<script>
  var backdrop = document.getElementById("backdrop");
  var modal_container = document.getElementById("modal_container");

  var textarea = document.getElementById("textarea");
  var edit_button= document.getElementById("edit_text");

  var modals = "";
  var container = document.getElementById("container");
  const form = document.querySelector("#textform");
  var auto_detect_label = document.getElementById("detect_label");

  // allow editing text when clicking the edit button
  edit_button.addEventListener("click", (event) =>{
    textarea.style.pointerEvents = "all";
    backdrop.style.visibility = "invisible";
    textarea.style.color = "black";
  });


  async function mark_offensive(term_id) {
    const data = new URLSearchParams();
    data.append("term_id", term_id);

    fetch("{{ url_for('report') }}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: data,
        
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.text();
    })
    .then(data => {
      sendData(); // run the check again to allow colors to update
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });

  }

  async function rateAlternative(term_id, alt_id, rating) {
    const data = new URLSearchParams();
    data.append("original_id", term_id);
    data.append("alternative_id", alt_id);
    data.append("rating", rating);

    fetch("{{ url_for('rate_alternative') }}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: data,
        
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.text();
    })
    .then(data => {
      // check again to update popups with the new rating
      sendData();
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });

  }

  function showPopup(t){
    t.target.childNodes[1].style.visibility = "visible";
  }

  function hidePopup(t){
    t.target.childNodes[1].style.visibility = "hidden";
  }
  
  async function sendData() {
    // Associate the FormData object with the form element
    const formData = new FormData(form);
    // only send request if there is text in the text box to check
    if(!(form["user_text"].value==null || form["user_text"].value=="")){
      fetch("{{ url_for('submit') }}", {
          method: 'POST',
          body: formData,
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json(); // the response is a json with textarea, language, detected, and modal
      })
      .then(data => {
          // set the marked text (textarea) as the inner HTML of the appropriate container
          container.innerHTML = data.textarea;

          // set the text of the auto button depending on the detected language
          if(data.detected == 1){
            var lang = data.language;
            auto_detect_label.textContent = lang + " - Detected"
          }
          else{
            auto_detect_label.textContent = "Auto Detect Language"
          }

          const isVisible = "is-visible";
          // put the modals in the corresponding container
          modal_container.innerHTML = data.modals;

          // attach event listeners to everything that was newly added
          backdrop = document.getElementById("backdrop");
          var textarea2 = document.getElementById("textarea");

          // allow editing text when clicking the edit button
          edit_button.addEventListener("click", (event) =>{
            textarea2.style.pointerEvents = "all";
            textarea2.style.color = "black";
            backdrop.style.visibility = "hidden";
            backdrop.style.zIndex = "1";
          });

          // listeners to open the modals when the rating/marking buttons are clicked
          const openEls = document.querySelectorAll("[data-open]");
          for(const el of openEls) {
            el.addEventListener("click", function() {
              const modalId = this.dataset.open;
              document.getElementById(modalId).classList.add(isVisible);
            });
          }

          // listeners to call the rating function when a rating is submitted
          const rateEls = document.querySelectorAll("[rate-alternative]");
          for(const el of rateEls) {
            el.addEventListener("click", function() {
              const modalId = this.dataset.open;
              // get the rating
              var f_id = 'rate'+modalId
              var fieldset = document.getElementById(f_id);
              var selectedRadioButton = fieldset.querySelector('input[name="alternative_rating"]:checked');
              var rating = 3;
              if (selectedRadioButton) {
                rating = selectedRadioButton.value;
              }
              // call rating function
              rateAlternative(this.getAttribute("term_id"), this.getAttribute("alt_id"), rating);
            });
          }

          // listeners to closed modals
          const closeEls = document.querySelectorAll("[data-close]");
          for (const el of closeEls) {
            el.addEventListener("click", function() {
              this.parentElement.parentElement.parentElement.classList.remove(isVisible);
            });
          }

          document.addEventListener("click", e => {
            if (e.target == document.querySelector(".modal.is-visible")) {
              document.querySelector(".modal.is-visible").classList.remove(isVisible);
            }
          });

          // listeners to show popups when hovering over the highlighted terms
          var marks = document.querySelectorAll('.popup');
          for (var i = 0; i < marks.length; i++) {
            marks[i].addEventListener("mouseenter", showPopup, marks[i]);
            marks[i].addEventListener("mouseleave", hidePopup, marks[i]);
          }    
          
          // show highlighted text and allow hovering but not editing
          textarea2.style.pointerEvents = "none";
          textarea2.style.color = "transparent";
          backdrop.style.visibility = "visible";
          backdrop.style.zIndex = "2";

      })
      .catch(error => {
          console.error('There was a problem with the fetch operation:', error);
      });
    } 

  }

  // listeners to show popups when hovering over the highlighted terms
  var marks = document.querySelectorAll('.popup');
  for (var i = 0; i < marks.length; i++) {
    marks[i].addEventListener("mouseenter", showPopup, marks[i]);
    marks[i].addEventListener("mouseleave", hidePopup, marks[i]);
  }   

  // Take over form submission
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    sendData();
  });
  </script>
</html>