
<div class="backdrop" id="backdrop">
  <div class="highlights">
    {{- marked_html | safe -}}
  </div>
</div>
<textarea id="textarea" name="user_text" placeholder="Add a text you would like to check for sensitive terms">{{ user_text }}</textarea>

 <div class="modal" id="modal{modal_id}">
  <div class="modal-dialog">
    <header class="modal-header">
      Rate {alternative_term} as alternative to {original_term}
      <button class="close-modal" aria-label="close modal" data-close>✕</button>
    </header>
    <section class="modal-content">
      <p>Select how good of an alternative {alternative_term} is for the original term {original_term}</p>
      <fieldset id="rate{modal_id}">
        <legend>Rate the appropriateness of the term:</legend>
      
        <div>
          <input type="radio" id="1" name="alternative_rating" value="1" checked />
          <label for="1">1</label>
        </div>
      
        <div>
          <input type="radio" id="2" name="alternative_rating" value="2" />
          <label for="2">2</label>
        </div>
      
        <div>
          <input type="radio" id="3" name="alternative_rating" value="3" />
          <label for="3">3</label>
        </div>
      
        <div>
          <input type="radio" id="4" name="alternative_rating" value="4" />
          <label for="4">4</label>
        </div>
      
        <div>
          <input type="radio" id="5" name="alternative_rating" value="5" />
          <label for="5">5</label>
        </div>
      </fieldset>
      <button class="rate-alternative" term_id={term_id} alt_id={alt_term_id}" data-open={modal_id} data-close rate-alternative>Submit rating</button>
      <button class="close-modal" aria-label="close modal" data-close>Cancel</button>
    </section>
  </div>
</div>






<button type=\"button\" class=\"open-modal\" data-open=\"modal{modal_id}\">{button_text}</button>



<div class="modal" id="modal{modal_id}">
  <div class="modal-dialog">
    <header class="modal-header">
      <button class="close-modal" aria-label="close modal" data-close>✕</button>
    </header>
    <section class="modal-content">
      Do you want to mark the term {term} as offensive?
      <button class="mark-offensive" onclick="mark_offensive({term_id})" data-close>Yes</button>
      <button class="close-modal" aria-label="close modal" data-close>No</button>
    </section>
  </div>
</div>


<div class=\"modal\" id=\"modal{modal_id}\"><div class=\"modal-dialog\"><header class=\"modal-header\"><button class=\"close-modal\" aria-label=\"close modal\" data-close>✕</button></header><section class=\"modal-content\">Do you want to mark the term {term} as offensive?<button class=\"mark-offensive\" onclick=\"mark_offensive({term_id})\" data-close>Yes</button><button class=\"close-modal\" aria-label=\"close modal\" data-close>No</button></section></div></div>

